/* style.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
}

.navbar {
    padding: 1rem;
}

.nav-container {
    box-shadow: 0 6px 6px -1px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    font-weight: 600;
}



.button {
    font-size: 16px;
    font-weight: 500;
    padding: 4px 14px;
    border-radius: 35px;
    border: none;
    color: #fff;
    background: #04bef7;
    transition: .3s all ease;
}

.button:hover {
    color: #fff;
    background: #08009a;
}

.logo {
    height: 40px;
}

.btn-sign {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-sign img {
    height: 20px;
    margin-left: 0.5rem;
}

.head-footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
}

.head-footer p {
    margin: 0;
    font-size: 1rem;
}

.head-footer a {
    color: #007bff;
    text-decoration: none;
}

.head-footer a:hover {
    text-decoration: underline;
}

.sec-logo {
    height: 40px;
}

h1,
p {
    font-weight: 600;
}

.sec-left {
    padding: 2rem;
}

.sec-left .sec-logo {
    height: 80px;
    margin-bottom: 1rem;
}

.sec-left h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.sec-left p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn-down {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.btn-down i {
    margin-left: 0.5rem;
}

.sec-right img {
    max-width: 100%;
}

.alert-box {
    height: 30px;
    background: lightgrey;
}

.btn-log {
    padding: 4px 22px;
    border: none;
    border-radius: 30px;
    color: #fff;
    background: #000;
    transition: .3s all ease;
}

.btn-log:hover {
    color: #000;
    border: 1px solid #000;
    background: transparent;
}

.img-body {
    max-width: 300px;
    height: auto;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 0.5rem;
    }

    .sec-left {
        text-align: center;
    }

    .sec-left h1 {
        font-size: 2rem;
    }

    .sec-left p {
        font-size: 1rem;
    }

    .btn-down {
        font-size: 1rem;
    }

    .sec-right img {
        max-width: 80%;
        margin: auto;
    }
}

@media (min-width: 991px) {
    .navbar-nav {
        margin-left: 13rem;
    }
    .body-content {
        margin-top: 60px;
    }
    .img-body {
        margin-top: 60px;
    }
}